body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
  }
  
  .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    background-color: #fff;
  }
  
  
  .img-container {
    flex: 1;
    margin-right: 20px;
  }
  
  .img-container img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  .info {
    flex: 2;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  @media only screen and (max-width: 600px) {
    .card {
      flex-direction: column;
      max-width: 100%;
    }
  
    .img-container {
      margin-right: 0;
      margin-cemter: 0px;
    }
  
    .info {
      width: 100%;
    }
  }
  
  